.goit2 {
  color: red;
}

.goit2:hover {
  color: white;
  background-color: red;
}

.goit1 {
  font-size: 24px;
}

.test h1 {
  color: white;
  background-color: black;
}

.test h1:hover {
  background-color: blue;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

div #arac li {
  font-size: 25px;
}

.social-links .link {
  color: teal;
}

.social-links .link:hover {
  color: rgb(255, 145, 0);
  background-color: blueviolet;
  font-size: 40px;
}

.social-links .link:active {
  color: red;
}

.social-links .link:focus {
  color: blue;
}

p {
  color: green;
}

section > p {
  color: orange !important;
}

.pelementi {
  color: red;
}

#pidsi {
  color: blueviolet;
}

.kutucuk {
  background-color: aqua;
  width: 50%;
  height: 200px;
  border: 4px solid black;
  font-family: "Creepster", serif;
  font-size: 17px;
  text-align: left;
  text-indent: 20px;
}

.kutucuk p {
  font-weight: 900;
  font-style: italic;
}

.goit-css {
  text-decoration: underline;
  text-transform: lowercase;
  background-color: cadetblue;
  line-height: 30px;
  font-size: 20px;
}
